.page-header.page-header-white{
	background-color: #FFFFFF;
	height: 100vh;
	min-height: 600px;
	max-height: none;
}

.img-logo-wrapper{
	position: relative;
    width: 60%;
    margin: auto;
}

img.img-logo {
    width: 100%;
}

