.page-header.page-header-white{
	background-color: #FFFFFF;
	height: 150vh;
	min-height: 600px;
	max-height: none;
}
.page-header.page-header-white .content-center .container .motto{
    color: rgb(0, 0, 0);
    text-align: center; 
}

.img-logo-wrapper{
	position: relative;
    width: 60%;
    margin: auto;
}

img.img-logo {
    width: 100%;
}

.navbar-scope.navbar-transparent .navbar-brand,
[class*="bg"] .navbar-brand {
    color: #66615B;
}

.navbar-scope.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn),
[class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) {
    color: #66615B;
}

.navbar-scope.navbar-transparent .navbar[class*="bg-"] .navbar-toggler .navbar-toggler-bar,
.navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar {
    background-color: #66615B;
}